<div class="reveal">
	<div id="slideDeck" class="slides">
		<section data-background-image="/images/roasted-slides/TeaClass2022Flyer.jpg"></section>
		<section data-autoslide=600000 id="Intro"></section>
		<section class="back"><img src="/images/roasted-slides/tasting-mat-roasted.svg" alt="tasting mat" \></section>
		<section  id="Hojicha"></section>
		<section  id="Equipment">
			<section id="fragments" data-background="images/roasted-slides/equipment/houroku-combined.jpg"> 
				<div class="back">
					<h2> Houroku </h2>
					<p> Small batches of Hojica are prepared with over open fire.</p>
					<p class="fragment">Most any clean cooking ware can be used.</p>
				</div>
			</section>
			<section id="fragments" data-background="images/roasted-slides/beicha-equipment.jpg"> 
				<div class="back">
					<h2>Other Equipment</h2>
				</div>
			</section>
		</section>
		<section  id="Sencha"></section>
		<section  id="Procedure">
			<section id="fragments" data-background="images/roasted-slides/equipment/houroku-combined.jpg"> 
				<div class="back">
					<h2></h2>
					<p></p>
					<p class="fragment"></p>
				</div>
			</section>
			<section id="fragments" data-background="images/roasted-slides/beicha-equipment.jpg"> 
				<div class="back">
					<h2></h2>
				</div>
			</section>
		</section>
		<section  id="Yancha"></section>
		<section  id="Storage">
			<section id="fragments" data-background="images/roasted-slides/equipment/houroku-combined.jpg"> 
				<div class="back">
					<h2></h2>
					<p></p>
					<p class="fragment"></p>
				</div>
			</section>
			<section id="fragments" data-background="images/roasted-slides/beicha-equipment.jpg"> 
				<div class="back">
					<h2></h2>
				</div>
			</section>
		</section>
		<section  id="Buckwheat"></section>
		<section  id="Questions"></section>
		<section  id="Barley"></section>
		<section  id="RoastedTeas"></section>
	</div>
</div>
